.main-nav .primary li {
	font-family: gothMed, Helvetica, Arial, sans-serif;
	font-size: 25px;
	margin-bottom: 4%;
}
.main-nav .search-bar input[type="text"]{line-height:12px;padding-top: 6px;}
.main-nav .social-icons .ico {margin-right: 35px;}
.home-form input[type="text"]{line-height:12px;padding-top: 6px;}
.home-form input[type="submit"]{line-height:19px;padding-top: 6px;}
.home-form-innerpage input[type="text"]{line-height:12px;padding-top: 6px;}
.home-form-innerpage input[type="submit"]{line-height:19px;padding-top: 6px;}

.gohart .how-to .tab1{ left: -55px; top: 26px; }
.gohart .how-to .tab2{ left: -52px; top: 115px; }
.gohart .how-to .tab3{ left: -35px; top: 182px; }

.close-nav img{
	position: relative;
	z-index:50;
}

.main-nav a{display: none;}

.main-nav .primary a, .main-nav .secondary a{display: block;}

.main-nav .primary{ width: 380px; }

.main-nav .primary .social-icons a{ display: none; }

.main-nav .primary .social-icons .ico a{ display: block; }

.main-nav .primary .search-nav a{ float:left; margin-right:0px; margin-bottom: 5px; }

.main-nav .search-bar input[type="text"]{
	padding: 0;
	border: none;
	height: 46px;
	padding-left: 20px !important;
	line-height: 24px;
}

/*#s4-workspace{ overflow: hidden; }*/

