/*PHASE 2 STYLES*/
.aboutBG{
	background: url("/Style%20Library/GoHart/Images/headerImages/About.jpg") no-repeat;
}

.italic-headline{
	text-align: center;
	font-size: 18px;
}

.page-content .planning-project-form .comment-form .form-half textarea{
	height: 49%;
}

.page-content .planning-project-form .comment-form .form-half{
	height: auto;
}

.page-content .planning-project-form .comment-form .submit-btn input[type=submit]{
  margin-top: -40px;
}

#ebcaptchainput{
	max-width: 200px;
}

.projectplan-nav{
	text-align: center;
}

.projectplan-nav a{
		width: auto !important;
		padding-top: 14px !important;
	}
.projectplan-nav a:hover{
		color: white !important;
	}

.download-project-pdf{
	font-family: gothBold;
	margin-left: 15%;
}

.download-project-pdf img{
	margin-right: 5px;
}

.project-chart{
	width: 70%;
	text-align: center;
	margin: 5px auto;
<<<<<<< HEAD
}


.pub-meeting-info b{
	color: #7FAFD4;
}




.calandar-box{
	border: 1px gray solid;
	width: 27%;
	margin: 20px;
	display: inline-block;
}

.calander-title{
	background: url("/Style%20Library/GoHart/Images/diagonal-pattern.png") repeat scroll 0 0 #003567;
	color: white;
	text-align: center;
	padding: 6px;
}

.calander-title span{
	background-color: #003567;
	padding: 3px;
}

.calander-info{
	padding: 15px 8px;
	font-size: 13px;
}

.calander-info h3{
	  font-size: 16px;
	  color: #003567;
}

.pdf-doc-list img{
	margin-left: -17px;
  	margin-right: 5px;
}

.pdf-doc-list li{
	margin-bottom: 6px;
}



/*gallery styles*/

.gallery-large{
	margin: auto;
  	width: 85%;
}

.gallery-large #gal-image{
	width: 100%;
}

.gallery-large .gal-prev{
	position: absolute;
	z-index: 100;
	top: 38%;
	margin-left: -58px;
	width: 7%;
	max-width: 40px;
}
.gallery-large .gal-next{
	position: absolute;
	z-index: 100;
	margin-right: -58px;
  	right: 0px;
	top: 38%;
	width: 7%;
	max-width: 40px;
}

.about-gallery .gal-title{
	position: absolute;
	/*background-color: rgba(14, 21, 45, 0.5);*/
	background-color: rgba(14,21,45,0.75);
	z-index: 50;
	color: white;
	padding: 6px;
	width: 100%;
	text-align: center;
	bottom: 0;
	font-size: 24px;
}

.about-gallery{
	height: 513px;
}

.about-gallery .block img, .about-gallery .block{
	cursor: pointer;
}





/*ADMIN STYLES*/
.admin-head{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(14,21,45,0.75);
}

.admin-head .avatar{
	margin: auto;
	width: 23%;
	max-width: 275px;
	text-align: center;
	margin-top: 1%;
}

.admin-head .avatar-name{
	margin: auto;
	color: white;
	text-align:center;
}

.admin-head .avatar-name h2{
	margin: auto;
	color: white;
	font-size: 38px;
	letter-spacing: 0.05em;
	margin-bottom: -8px;
	font-family: 'gothBold', Helvetica,Arial,sans-serif;
}

.admin-head .avatar-name span{
	font-size: 24px;
}

.admin-body .brick{
	border: 1px #ccc solid;
	background-color: white;
	height: 400px;
	overflow:hidden;
}

.admin-body .brick ul{
	height: 400px;
  	overflow: scroll;
}

.admin-body .full-brick{
	margin: 60px 0;
	min-height: 600px;
	padding-bottom: 15px;
}

.admin-body .brick .brick-head{
	text-align: left;
	padding-left: 15px;
	letter-spacing: 0.15em;
}

.admin-body .brick .fares-list{
	width: 100%;
}

.admin-body .brick .fares-points ul li{
	border: none;
	border-bottom: 1px #ccc solid;
}

.admin-body .brick p{
	margin-bottom: 0;
}

.admin-body .col-right{
	margin-right: 0;
	float: right;
}

.admin-body .message div{
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
	/*float: left;*/
}

.admin-body .msg-avatar-left{
	max-width: 75px;
	padding-top: 15px;
	margin-left: 15px;
}

.admin-body .msg-avatar-right{
	max-width: 75px;
	padding-top: 15px;
	margin-right: 15px;
	right: 0;
	float:right;
}

.admin-body .msg-right{
	text-align:right;
}

.admin-body .msg-avatar-left p, .admin-body .msg-avatar-right p{
	padding: 0;
}

.admin-body .message .msg-full{
	width: 91%
}

.admin-body .message-reply textarea{
	width: 83%;
  	height: 90px;
}

.admin-body .message-reply-btn{
  background-color: #6699CC;
  color: #fff !important;
  float: right;
  vertical-align: top;
  margin-top: -52px;
  margin-right: 30px;
  width: 140px;
  text-align: center;
  padding: 5px;
  letter-spacing: 0.05em;
}

.admin-body .board-list span{
	display: inline-block;
	vertical-align: top;	
}

.admin-body .board-list .board-pic{
	width: 90px;
}

.admin-body .board-list .board-info{
	width: 75%;
}

.admin-body .board-list .colapsed{
	display: none;
}

.admin-body .brick .half-brick{
	display: inline-block;
	width: 45%;
	vertical-align: top;
}

.admin-body .brick .calendar{
	width: 95%;
}

.admin-body .brick .calendar img{
	width: 100%;
}

.admin-body .board-brick, .admin-body .calendar-brick{
	height: auto;
	max-height: 900px;
}



/*PHASE 2 RESPONSIVE*/
@media only screen and (max-width: 768px){
	.about-gallery .news-blocks .block{
		display: block;
		width: 315px !important;
		height: auto;
	}
}





