@charset "UTF-8";
/**
 * Code by vijay
 * ==========================================================================
 */
 
 

/**
 * $METRORAPID SERVICES
 * ==========================================================================
 */




/* fullColumnWidth - for width 100% */
.page-content .fullColumnWidth{
 	width:100%;
}

/* how it works lists - styles */
.page-content .how-it-works ul {
  display: inline-block;
  width: auto;
  margin-left: 0;
}
.page-content .how-it-works ul li {
  background: url('../img/list-icon.png') no-repeat 0 5px;
  padding: 3px 0 3px 19px;
  /* reset styles (optional): */
  list-style: none;
  margin: 0;
}



/* schedule points lists - styles */
.page-content .schedule-points ul {
  display: inline-block;
  width: auto;
  margin-left: 0;
}
.page-content .schedule-points ul li {
  background: url('../img/list-icon.png') no-repeat 0 5px;
  padding: 3px 0 3px 19px;
  /* reset styles (optional): */
  list-style: none;
  margin: 0;
}



/* north-south-points lists - styles */
.page-content .north-south-points ul {
	margin-right: 5%;
	width: 44%;
}
.page-content .north-south-points ul {
  display: inline-block;
  width: auto;
  margin-left: 0;
}
.page-content .north-south-points ul li {
  background: url('../img/list-icon.png') no-repeat 0 5px;
  padding: 3px 0 3px 19px;
  /* reset styles (optional): */
  list-style: none;
  margin: 0;
  color:#4ca1d2;
  font-weight:bold;
}



/* schedule-language lists - styles */
.page-content .schedule-language{
	background-color:#0f406b;
	padding:0;
	border:1px solid #0f406b;
	margin-right:0;
}
.page-content .schedule-language .icon{
	background-color:#FFFFFF;
	width:70px;
	padding:9px 0 1px 0;
	text-align:center;
	float:left;
}
.page-content .schedule-language .schedule-and-language-text{
	background-color:#0f406b;
	width:428px;
	padding:10px 0;
	text-align:center;
	float:left;
}
.page-content .schedule-language .schedule-text{
	color:#FFFFFF;
	font-size:14px;
	text-align:center;
}
.page-content .schedule-language .language-text{
	color:#FFFFFF;
	font-size:20px;
	text-align:center;
}
.half-column.schedule-language.schedule-language-last {
    margin-right: 0;
}



/* metro-rapid-parts - styles */
.page-content .metro-rapid-parts{
	background-color:#0f406b;
	padding:0;
	border:1px solid #0f406b;
	margin-right:15px;
	margin-bottom:20px;
}
.page-content .metro-rapid-parts .icon{
	background-color:#FFFFFF;
	width:40px;
	padding:5px 0 0px 0;
	text-align:center;
	float:left;
}
.page-content .metro-rapid-parts .metro-rapid-parts-bg{
	background-color:#0f406b;
	width:174px;
	padding:10px 0;
	text-align:center;
	float:left;
}
.page-content .metro-rapid-parts .metro-rapid-parts-text{
	color:#FFFFFF;
	font-size:17px;
	text-align:center;
	padding:2px 0 0 0;
}
.page-content .metro-rapid-fifth-part{
	margin-right:0;
	float:right;
}


/* maps related styles */
.page-content .map-data{
	
	margin:0 15px 0 0;
	width: 32%;
	float: left;


}

.page-content .map-data img{
		width: 100%;
	}
.page-content .map-heading{
	background: url('../img/metrorapid-service/schedule-img.png') no-repeat 0 0;
	background-size: 30px 38px;
	height:38px;
	padding:7px 0 0 35px;
	margin:0 0 10px 0;
	color:#4ca1d2;
	font-weight:bold;
	font-size: 15px;
}
.page-content .map{
	width: 100%;
	margin:0 0 20px 0;
}
.page-content .map-data-last{
	margin:0 0 0 0;
}



/*  van service page styles - Start */
		.header .headline-services-van{
			width:250px;
		}
		
		
		.page-content .half-column.fares-data{
			float:right;
			margin-right:0;
		}
		.page-content .fares-points ul {
		  display: inline-block;
		  width: auto;
		  margin-left: 0;
		}
		.page-content .fares-points ul li {
		  padding: 10px 0 10px 0px;
		  list-style: none;
		  margin: 0 25px;
		  border-bottom:1px solid #4AACD9;
		  color:#003567;
		}
		.page-content .fares-points ul li:last-child {
		  border-bottom:0px solid #4AACD9;
		}
		
		
		.page-content .reservation-no{
			color:#4AACD9;
		}
		.page-content .reservation-timings-days{
			float:left;
			text-align:left;
			margin:10px 0;
		}
		.page-content .reservation-timings-days ul{
			list-style:none;
			margin:0;
		}
		.page-content .reservation-timings-time{
			float:right;
			text-align:right;
			margin:10px 0;
		}
		.page-content .reservation-timings-time ul{
			list-style:none;
			margin:0;
		}
		
		.mid-section .mid-copy.van-service-midcopy-1 h3{
			padding: 10px 25px;
		}
		
		
		/* equal-access-points lists - styles */
		.page-content .half-column.equal-access-data{
			float:right;
			margin:42px 0 0 0;
		}
		.page-content .equal-access-points ul {
			margin-right: 0;
			width: 44%;
			display: inline-block;
		   width: auto;
		   margin-left: 0;
		}
		.page-content .equal-access-points ul li {
		  background: url('../img/list-icon.png') no-repeat 0 5px;
		  padding: 3px 0 3px 19px;
		  /* reset styles (optional): */
		  list-style: none;
		  margin: 0;
		}
		
		
		
		/* how-do-i-apply-points lists - styles */
		.page-content .half-column.how-do-i-apply-data2{
			float:right;
			margin:48px 0 0 0;
		}
		.page-content .how-do-i-apply-points ol {
			margin-right: 0;
			width: 44%;
			display: inline-block;
		  width: auto;
		  margin-left: 35px;
		  margin-bottom:0;
		}
		.page-content .how-do-i-apply-points ol li {
		  padding: 3px 0 3px 5px;
		  /* reset styles (optional): */
		  margin: 0;
		}
		.page-content .half-column.how-do-i-apply-data2 p{
			color:#003567;
			line-height: 20px;
		}
		
		
		
		
		
		
		
		/* brick time and fare styles */
		.content-body .time-and-fare {
		  background-color: transparent;
		  width:70%;
		}
		.content-body .time-and-fare .brick-head {
		  background-color: #e6e7e8;
		  text-align: left;
		  color: #003366;
		  padding-left: 20px;
		  padding-top:10px;
		  position:relative;
		}
		.content-body .time-and-fare .brick-head .coupon-image{
			position:absolute;
			right:5px;
			top:5px;
			padding:0;
			margin:0;
		}
		.content-body .time-and-fare .brick-head .brick-line{
			position:absolute;
			right:135px;
			top:0;
			border-right:1px solid #777777;
			height:45px;
			padding:0;
			margin:0;
		}
		.content-body .time-and-fare .brick-head span {
		  float: right;
		  margin-right: 20px;
		  padding-right: 25px;
		}
		.content-body .time-and-fare .serv-hours {
		  margin: 0;
		  padding: 15px;
		  padding-top: 0;
		  width: auto;
		}
		.content-body .time-and-fare:nth-child(2n) .brick-head {
		  background-color: #71A6CF;
		  text-align: left;
		  color: #FFFFFF;
		  padding-left: 20px;
		  padding-top:10px;
		}
		
		
		.content-body .brick .half-column ul{
			margin: 0 0 0 15px;
			padding:0 0 10px 0;
		}
		.content-body .brick .half-column ul li{
			background: url('../img/list-icon.png') no-repeat 0 5px;
			padding: 3px 0 3px 19px;
			list-style: none;
			margin: 0;
			line-height: 18px;
		}
		
		
		.page-content .half-column.side2{
			float:right;
			margin:0 0 0 0;
		}
		
		
/*  van service page styles - End */



/*  teco line service page styles - Start */
		.header .headline-services-teco-line{
			width:670px;
		}
		
		.page-content .visit-link{
			background-color: #0E3B6A;
			padding:5px 0;
			color:#FFFFFF;
			text-align: center;
		}
/*  teco line service page styles - End */



/* alternative transport styles - start */
		.content-body .brick-list .half-column ul{
			margin: 0 0 0 15px;
			padding:0 0 10px 0;
		}
		.content-body .brick-list .half-column ul li{
			background: url('../img/list-icon.png') no-repeat 0 5px;
			padding: 3px 0 3px 19px;
			list-style: none;
			margin: 0;
			line-height: 18px;
		}
		
		.content-body .vanpool-data h2{
			font-size:19px;
		}
		.content-body .vanpool-data-last h2{
			font-size:19px;
		}
		.content-body .vanpool-data-last{
			float:right;
			margin:0;
		}
		
		
		.mid-section .mid-copy.alt-transport-midcopy-1{
			margin: 25px auto;
		}
		.mid-section .mid-copy.alt-transport-midcopy-1 h3{
			padding: 10px 25px;
		}
		.mid-section .mid-copy.alt-transport-midcopy-1 h3.commentby{
			color:#4AACD9;
			margin:0;
			padding:0;
		}
		
		.content-body .brick-list .three-column ul{
			margin: 0 0 0 0;
			padding:0 0 10px 0;
		}
		.content-body .brick-list .three-column ul li{
			background: url('../img/list-icon.png') no-repeat 0 5px;
			padding: 3px 0 3px 19px;
			list-style: none;
			margin: 0;
			line-height: 18px;
		}
		.content-body .brick-list .half-column ul.sponsors-list{
			margin:0;
			font-weight: bold;
		}
		.content-body .brick-list .three-column ul.sponsors2-list{
			margin:0;
			font-weight: bold;
		}
		.content-body .sponsors-images-list img{
			vertical-align: middle;
			padding:0 10px 0 0;
		}
		.page-content .column-49{
			width:49% !important;
		}
/* alternative transport styles - end */




/*  Transparency - environment styles - Start */
	.content-body .half-column.environment-dept-contact{
		margin:0;
		width:53%;
	}
/*  Transparency - environment styles - End */


/*  Transparency - public record requests styles - Start */
	.content-body .point-no-area{
		width:6%;
		height:60px;
		margin:7px 10px 0 0;
		display:inline-block;
		float:left;
		text-align:center;
		background: url("../img/diagonal-pattern.png") repeat scroll 0 0 #003567;
	}
	.content-body .point-no{
		padding:5px 15px;
		background-color: #003567;
		color:#FFFFFF;
		font-weight:400;
		margin-top:11px;
		display:inline-block;
		font-size:20px;
	}
	.content-body .point-description{
		display:inline-block;
		width:93%;
		float:left;
	}
	
	
	.content-body .half-column .point-no-area{
		width:12%;
		height:60px;
		margin:7px 10px 0 0;
		display:inline-block;
		float:left;
		text-align:center;
		background: url("../img/diagonal-pattern.png") repeat scroll 0 0 #003567;
	}
	.content-body .half-column .point-no{
		padding:5px 10px;
		background-color: #003567;
		color:#FFFFFF;
		font-weight:400;
		margin-top:11px;
		display:inline-block;
		font-size:20px;
	}
	.content-body .half-column .point-description{
		display:inline-block;
		width:85%;
		float:left;
	}
/*  Transparency - public record requests styles - End */



/* Travelinfo - Hart App center Styles - Start */
	.header .headline-appcenter{
		width:390px;
	}
	.info-icons{
		width:8%;
		float:left;
		margin:5px 10px 0 0;
	}
	.info-icons-description{
		width:87%;
		float:left;
		margin:0 0 30px 0;
	}
/* Travelinfo - Hart App center Styles - End */ 





/* Travelinfo - How to ride Hart Styles - Start */
	.content-body .half-column ul.no-margin{
		margin:0;
	}
	a.link-normal{
		color:#FFFFFF;
		text-decoration: none;
	}
	.videoWrapper {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;
	}
	.videoWrapper iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
/* Travelinfo - How to ride Hart Styles - End */



/* About - Hart Employment - Styles - Start */
	.mapContactDisplay{
		width:100%;
	}
/* About - Hart Employment - Styles - End */



/* About - Hart News - Styles - Start */
	.content-body .dates .point-no-area{
		width:10%;
		height:85px;
		margin:14px 10px 0 0;
		display:inline-block;
		float:left;
		text-align:center;
		padding: 0;
		background: url("../img/diagonal-pattern.png") repeat scroll 0 0 #003567;
	}
	.content-body .dates .point-no{
		padding:2px 10px;
		background-color: #003567;
		color:#FFFFFF;
		font-weight:400;
		margin-top:11px;
		display:inline-block;
		font-size:20px;
	}
	.content-body .dates .point-description{
		display:inline-block;
		width:85%;
		float:left;
	}
	
	.content-body .dates-full-width .point-no-area{
		width:7.5%;
		height:85px;
		margin:14px 10px 0 0;
		display:inline-block;
		float:left;
		text-align:center;
		padding: 0;
		background: url("../img/diagonal-pattern.png") repeat scroll 0 0 #003567;
	}
	.content-body .dates-full-width .point-no{
		padding:2px 10px;
		background-color: #003567;
		color:#FFFFFF;
		font-weight:400;
		margin-top:11px;
		display:inline-block;
		font-size:20px;
	}
	.content-body .dates-full-width .point-description{
		display:inline-block;
		width:90.5%;
		float:left;
	}
/* About - Hart News - Styles - End */


/* About - Meet The Hart Team - Styles - Start */
	.content-body .three-column-data{
		width:21%;
		margin:0 4% 3% 0;
		display: inline-block;
		position:relative;
		background: url("../img/diagonal-pattern.png") repeat scroll 0 0 #F5F6F6;
	}
	.content-body .three-column-data img{
		text-align:center;
	}
	.content-body .three-column-data:nth-child(4n){
		margin:0 0 0 0;
	}
	.content-body .team-members{
		cursor:pointer;
		position:relaive;
	}
	.content-body .team-members .team-members-data{
		background-color:#2F5981;
		width:100%;
		height:100%;
		position:absolute;
		top:0;
		left:0;
		opacity:0.9;
		filter: alpha(opacity=90);
		display:none;
	}
	.content-body .team-members .team-member-name{
		color:#FFFFFF;
		font-size:16px;
		margin:88px 0 0 15px;
	}
	.content-body .team-members .team-member-place{
		color:#FFFFFF;
		font-size:14px;
		margin:0 0 0 15px;
	}
	.content-body .team-members .team-member-position{
		color:#FFFFFF;
		font-size:14px;
		margin:0 0 0 15px;
	}
	.content-body .team-members:hover .team-members-data{
		display:block;
	}
	
	.content-body .team-member-detail-description{
		background:#003567 url('../img/about/white-arrow-down.png') no-repeat 98px -1px;
		position:relative;
		padding:25px 45px 5px 45px;
		width:100%;
		display:none;
	}
	.content-body .team-member-detail-description .team-member-name-detail-description{
		font-size:16px;
		color:#FFFFFF;
	}
	.content-body .team-member-detail-description .team-member-designation-detail-description{
		font-size:14px;
		color:#FFFFFF;
		padding:0 0 5px 0;
		margin:0 0 10px 0;
		border-bottom:1px solid #FFFFFF;
	}
	.content-body .team-member-detail-description p{
		font-size:14px;
		padding:0 0 0 0;
		margin:0 0 10px 0;
		color:#FFFFFF;
	}
	.content-body .team-member-detail-description-close{
		position:absolute;
		right:15px;
		top:15px;
		cursor:pointer;
	}
/* About - Meet The Hart Team - Styles - End */

/* About - opportunities - Styles - Start */
	.content-body .brick-list ul{
		margin: 0 0 0 15px;
		padding:0 0 10px 0;
	}
	.content-body .brick-list ul li{
		background: url('../img/list-icon.png') no-repeat 0 5px;
		padding: 3px 0 3px 19px;
		list-style: none;
		margin: 0;
		line-height: 18px;
	}
	.content-body .brick-list ul.no-margin{
		margin:0;
	}
	.content-body .three-column-info-chunks{
		width:29%;
		margin:0 5% 0 0;
		display:inline-block;
	}
	.content-body .three-column-info-chunks:nth-child(3n){
		margin:0 0 0 0;
	}
	.content-body .three-column-info-chunks .top-part{
		margin:0 0 0 0;
	}
	.content-body .three-column-info-chunks .bottom-part{
		margin:10px 0 10px 0;
	}
/* About - opportunities - Styles - End */


/* About - Transit Development Plan - Styles - Start */
	.header .headline.transit-development-plan-headline {
    width: 610px;
	}
/* About - Transit Development Plan - Styles - End */

/* About - Transit Advertising - Styles - Start */
	.content-body .info-chunk .bottom-part{
		margin:10px 0 10px 0;
	}
/* About - Transit Advertising - Styles - End */


/* About - Planning and Projects - Styles - Start */
	.content-block.dec-bottom-margin{
		margin:0 0 5px 0;
	}
	
	.page-content .bus-shelter-requests .bus-shelter-request-form {
	  /*margin: 3%;*/
	}
	.page-content .bus-shelter-requests .bus-shelter-request-form .form-half {
	  width: 49%;
	  float: left;
	  vertical-align: top;
	  height: 487px;
	}
	.page-content .bus-shelter-requests .bus-shelter-request-form .form-half input[type="text"], .page-content .bus-shelter-requests .bus-shelter-request-form .form-half textarea {
	  display: block;
	  width: 100%;
	  margin-bottom: 10px;
	}
	.page-content .bus-shelter-requests .bus-shelter-request-form .bus-shelter-request-form-radiobut{
		margin:0 0 7px 0;
		color:#083b70;
	}
	.page-content .bus-shelter-requests .bus-shelter-request-form .form-half textarea {
	  /*height: 100%;*/
	  height: 43%;
	  resize: none;
	}
	.page-content .bus-shelter-requests .bus-shelter-request-form .form-left {
	  margin-right: 20px;
	}
	.page-content .bus-shelter-requests .bus-shelter-request-form input[type="text"], .page-content .bus-shelter-requests .bus-shelter-request-form textarea {
	  border: none;
	  text-transform: uppercase;
	  color: #083b70;
	  line-height: 45px;
	  height: 45px;
	  font-size: 16px;
	  background-color: #ccc;
	  padding: 5px;
	  padding-left: 10px;
	  padding-top: 10px;
	  margin-right: 1%;
	}
	.page-content .bus-shelter-requests .bus-shelter-request-form .submit-btn {
	  margin-top: 10px;
	}
	.page-content .bus-shelter-requests .bus-shelter-request-form .submit-btn input[type="submit"] {
	  -webkit-appearance: none;
	  border: none;
	  color: white;
	  background-color: #7aaed5;
	  height: 45px;
	  font-size: 16px;
	  padding: 5px 15px;
	  padding-top: 10px;
	  margin-right: 0;
	  letter-spacing: 0.03em;
	  position: absolute;
	  right: 0px;
	}
	.page-content .bus-shelter-requests .bus-shelter-request-form #start, .page-content .bus-shelter-requests .bus-shelter-request-form #end {
	  width: 27%;
	}
	.page-content .bus-shelter-requests .bus-shelter-request-form #date, .page-content .bus-shelter-requests .bus-shelter-request-form #time {
	  width: 15%;
	}
/* About - Planning and Projects - Styles - End */


/* About - Public Metings - Styles - Start */
	.info-chunk-with-cross-lines {
	  background-color: #FFFFFF;
	  margin-bottom: 20px;
	}
	.info-chunk-with-cross-lines .info-row {
	  padding: 9px 15px;
	  border-bottom: 1px #003567 solid;
	  border-left: 1px #003567 solid;
	  border-right: 1px #003567 solid;
	  color: #003366;
	}
	.info-chunk-with-cross-lines .info-title {
	  color: white;
	  /*background-color: #003567;*/
	  background: url("../img/service/page-nav-bg.png") repeat-x scroll 0 0 #003567;
	  text-align: center;
	  margin: 10px 0px 0px 0px;
	}
	.info-chunk-with-cross-lines .info-title .info-title-text{
		text-align:center;
		padding:5px 10px;
		background-color: #003567;
	}
	.info-chunk-with-cross-lines .last-info-row {
	  padding-bottom: 10px;
	}
	.info-chunk-with-cross-lines .info-row-head{
		margin: 0 0 10px 0;
		color: #003567;
	}
	.info-chunk-with-cross-lines .info-row-desc{
		color:#666;
	}
		
		
	.content-body .brick-list-packets .half-column ul{
		margin: 0 0 0 15px;
		padding:0 0 10px 0;
	}
	.content-body .brick-list-packets .half-column ul li{
		background: url('../img/dl-icon.png') no-repeat 0 7px;
		padding: 3px 0 3px 19px;
		list-style: none;
		margin: 0;
		line-height: 18px;
	}
/* About - Public Metings - Styles - End */


/* About - Employee Login - Styles - Start */
	.page-content .employee-login .employee-login-form {
	  /*margin: 3%;*/
	}
	.page-content .employee-login .employee-login-form .form-half {
	  width: 49%;
	  float: left;
	  vertical-align: top;
	  height: 125px;
	}
	.page-content .employee-login .employee-login-form .form-half input[type="text"], .page-content .employee-login .employee-login-form .form-half input[type="password"], .page-content .employee-login .employee-login-form .form-half textarea {
	  display: block;
	  width: 100%;
	  margin-bottom: 10px;
	}
	.page-content .employee-login .employee-login-form .employee-login-form-radiobut{
		margin:0 0 7px 0;
		color:#083b70;
	}
	.page-content .employee-login .employee-login-form .form-half textarea {
	  /*height: 100%;*/
	  height: 43%;
	  resize: none;
	}
	.page-content .employee-login .employee-login-form .form-left {
	  margin-right: 20px;
	}
	.page-content .employee-login .employee-login-form input[type="text"], .page-content .employee-login .employee-login-form input[type="password"], .page-content .employee-login .employee-login-form textarea {
	  border: none;
	  text-transform: uppercase;
	  color: #083b70;
	  line-height: 45px;
	  height: 45px;
	  font-size: 16px;
	  background-color: #ccc;
	  padding: 5px;
	  padding-left: 10px;
	  padding-top: 10px;
	  margin-right: 1%;
	}
	.page-content .employee-login .employee-login-form .submit-btn {
	  margin-top: 10px;
	}
	.page-content .employee-login .employee-login-form .submit-btn input[type="submit"] {
	  -webkit-appearance: none;
	  border: none;
	  color: white;
	  background-color: #7aaed5;
	  height: 45px;
	  font-size: 16px;
	  padding: 5px 15px;
	  padding-top: 10px;
	  margin-right: 0;
	  letter-spacing: 0.03em;
	  position: absolute;
	  right: 0px;
	  bottom:25px;
	}
	.page-content .employee-login .employee-login-form #start, .page-content .employee-login .employee-login-form #end {
	  width: 27%;
	}
	.page-content .employee-login .employee-login-form #date, .page-content .employee-login .employee-login-form #time {
	  width: 15%;
	}
	.page-content .row-middle{
		margin-left:auto !important;
		margin-right:auto !important;
		display:block !important;
	}
	.page-content .employee-terms-of-use{
		padding:10px;
		background-color: #EBECEC;
		color:#25527C;
		width:100%;
		text-align:center;
		margin:25px 0;
		cursor:pointer;
	}
	.page-content .employee-terms-of-use-desc{
		display:none;
	}
	
	
	.page-content .employee-terms-of-use.active{
		background: #7aaed5 url('../img/bottom-arrow.png') bottom left no-repeat;
		color:#FFFFFF;
	}
	.page-content .employee-terms-active-img{
		display:none;
		text-align:center;
		margin-top:-27px;
	}
/* About - Employee Login - Styles - End */




.content-body .three-column {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin-right: 3%;
}
.content-body .three-column:last-child {
  margin-right: 0;
}
.page-content .link-colored{
	color:#4AACD9;
	font-weight:bold;
}
.page-content a.link-colored{
	color:#4AACD9;
}
.page-content a.bold-blue{
	color: #7aaed5;
	font-family: gothBold,Helvetica,arial,sans-serif;
	font-weight: 400;
}
    
.content-body .half-column {
    margin-right: 3%;
    width: 46%;
}
.north-south-points.half-column {
    margin-right: 0%;
    width: 47%;
}
.page-content .bottom-rule .cta {
	width: 100%;
}
.page-content .bottom-rule {
	padding-top: 10px;
}
.page-nav{
	margin:20px 0;
}
.mid-section .mid-copy {
    width: 75%;
}
.content-body .info-italic{
	font-size:13px;
}
.content-body .space-top-bottom{
	margin:10px 0;
}
.content-body .brick .brick-head-para {
  color:#003567;
  margin-bottom:5px;
  padding-bottom:0;
}
/* brick-blue-link - for icon with link - styles */
	.page-content .brick-blue-link{
		background-color:#0f406b;
		padding:0;
		border:1px solid #0f406b;
		margin-right:0;
		margin-bottom:15px;
	}
	.page-content .brick-blue-link .icon{
		background-color:#FFFFFF;
		width:70px;
		padding:9px 0 1px 0;
		text-align:center;
		float:left;
	}
	.page-content .brick-blue-link .brick-blue-link-text{
		background-color:#0f406b;
		width:428px;
		padding:8px 0;
		text-align:center;
		float:left;
	}
	.page-content .brick-blue-link .brick-blue-link-text1{
		color:#FFFFFF;
		font-size:14px;
		text-align:center;
	}
	.page-content .brick-blue-link .brick-blue-link-text2{
		color:#FFFFFF;
		font-size:24px;
		text-align:center;
	}
	.half-column.brick-blue-link.brick-blue-link-last {
	    margin-right: 0;
	}
	.content-body .brick .brick-head {
		padding-top: 12px;
	}
	.half-column.brick-column{
		padding:0;
		margin-right:0;
		margin-bottom:15px;
	}
	.half-column.brick-column.brick-column-last {
	    margin-right: 0;
	}
.left{
	float:left;
}
.right{
	float:right;
}

.page-nav.fullWidth 
{
	margin:10px 0;
}
.page-nav .nav-btn.fullWidth {
   	width: 100%;
	}
	
	
	
/* OVERRIDES STYLES OF STYLES.CSS*/
.page-content .help-you select {
	border: none;
	text-transform: uppercase;
	color: #083b70;
	line-height: 45px;
	height: 45px;
	font-size: 16px;
	background-color: #ccc;
	padding: 5px;
	padding-left: 10px;
	padding-top: 10px;
	margin-left: 2%;
	width:50%;
}
.tix-box .tix-row .tix-fare {
	float: right;
	border-left: 1px #666 solid;
	padding-right: 8%;
	width: 25%;
	text-align:right;
}
.disclaimer {
	font-style: italic;
	font-size: 15px;
	coor: #666;
	margin-top: 5px;
}
.three-up .col-33 {
	width: 32%;
	display: inline-block;
	margin-right: 1%;
	vertical-align:top;
}
.purchase-tix span {
	margin: 0 25px;
	display: inline-block;
	vertical-align: top;
	padding-top: 12px;
}
.map-locations .marker-address-2 {
	color: #666;
	font-size: 12px;
	padding-left: 2px;
}
 .cta .callout div .cta-page {
	color: #6699CC;
	font-size: 22px;
}
/* gototop image styles - Start */
.gototop{
	position:absolute;
	bottom:20px;
	right:50px;
	cursor:pointer;
}
/* gototop image styles - End */
.emergency .need-to-know {font-weight: normal;}
.alerts-detours .alert-detail {font-size: 18px;}
.planner h2 {font-size: 18px;}
.paid-ad-text{font-size:14px;text-align:right;float:right;}
.headline.heading-farecards{width:500px;}
.headline.heading-salesLocations{width:500px;}
.page-content .fullColumnWidth{width:100%;}

.pdf-downlaod-2columns {
    margin: 0;
    width: 48.5%;
}
.pdf-downlaod-2columns .pdf-ico{
	width: 9.5%;
}
.pdf-downlaod-2columns .download-title{
	margin-top: 5%;
}



	




/*  media queries  */
@media only screen and (max-width: 1024px) {
  .container {
		width: 100%;
  }
  .page-content .schedule-language .schedule-and-language-text {
		width: 333px;
	}
	.page-content .metro-rapid-parts .metro-rapid-parts-bg {
		width: 119px;
	}
	.page-content .map-heading{
		width: 278px;
	}
	.page-content .map-heading.map-heading-center{
		padding-top:0;
	}
	.page-content .map {
    	width: 278px;
	}
	
	
	.page-nav {
   	margin: 20px -13px;
	}
	.page-nav .nav-btn {
   	width: 30%;
	}
	
	
	.page-content .schedule-language .brick-blue-link-text {
		width: 333px;
	}
	
	.cta .callout, .corp-trans-callout {
	    width: 52% !important;
	}
	.page-content .help-you select {
	    width: 100%;
	}
	
	.three-up img {
	    margin-right: 1%;
	    width: 31%;
	}
	.three-up .col-33{width:31%;}
	
	.maps-scheduels .download-pdf span {
	    top: 4px;
	}
	.maps-scheduels .schedule-nav a {
	    margin: 0 0 5px;
	}
	
	
	.alerts-detours .rider-alert {
	    height: auto;
	}
	
	.gototop {
	    bottom: 0;
	    right: 0;
	}

}



@media only screen and (max-width: 768px) {
  .content-body .half-column {
    margin-right: 0%;
    width: 100%;
	}
	
	.content-body .schedule-language {
   	width: 44%;
	}
	.page-content .schedule-language .schedule-and-language-text {
		width: 210px;
		padding: 0;
	}
	.page-content .schedule-language .schedule-text {
   	font-size: 14px;
	}
	
	
	
	
	.page-content .metro-rapid-parts .metro-rapid-parts-text {
   	font-size: 12px;
	}
	.page-content .metro-rapid-parts .metro-rapid-parts-bg {
   	width: 83px;
   	padding: 6px 0;
	}
	.page-content .metro-rapid-parts .icon {
   	width: 32px;
	}
	.page-content .metro-rapid-parts .icon img {
   	width: 18px;
	}
	
	
	.page-content .map {
   	width: 206px;
	}
	.page-content .map-heading {
   	width: 206px;
	}
	
	
	
	.content-body .brick-blue-link {
   	width: 44%;
	}
	.page-content .brick-blue-link .brick-blue-link-text {
		width: 210px;
		padding: 0;
	}
	.page-content .brick-blue-link .brick-blue-link-text1 {
   	font-size: 14px;
	}
	
	.cta .callout, .corp-trans-callout {
	    width: 65% !important;
	}
	
	.select-locations .location-select {
	    width: 55%;
	}
	.page-content .help-you select {
	    width: 100%;
	}
	
	.three-up img {
	    margin-right: 1%;
	    width: 31%;
	}
	.three-up .col-33{width:31%;}
	
	.maps-scheduels .download-pdf span {
	    top: -6px;
	}
	.maps-scheduels .schedule-nav a {
	    margin: 0 0 5px;
	}
	
	
	.alerts-detours .rider-alert {
	    height: auto;
	}
	
	.pdf-downlaod .download-title {
	    margin-top: 8%;
	    padding-left: 12%;
	}
	.pdf-downlaod {
	    width: 22%;
	}
	
	
	
	
	/* OVERRIDES of CSS for tix row */
	.tix-box{width:100%;}
	.gototop {
		bottom: -40px;
		right: 0;
	}
}



@media only screen and (max-width: 650px) {
	.three-up .col-33{width:31%;}
	
	.maps-scheduels .download-pdf span {
	    top: -4px;
	}
	.maps-scheduels .schedule-nav a {
	    margin: 0 0 5px;
	}
	
	.cta .callout, .corp-trans-callout {
	    width: 77% !important;
	}
	
	.planner .cta-buttons {
	    width: 100%;
	}
	.alerts-detours .rider-alert {
	    height: auto;
	}
	.alerts-detours .detour-detail {
	    width: 82%;
	}
	
	.pdf-downlaod {
	    width: 47%;
	}
	
	.pdf-downlaod-2columns {
	    margin: 0;
	    width: 97% !important;
	}
	.pdf-downlaod-2columns .download-title {
	    margin-top: 5% !important;
	    padding-left: 6.5%;
	}
	
}


@media only screen and (max-width: 568px) {
	.content-body .schedule-language {
   	width: 100%;
   	margin:0 0 10px 0
	}
	.page-content .schedule-language .schedule-and-language-text {
		width: 407px;
		padding: 10px 0 0 0;
	}
	.page-content .schedule-language .schedule-text {
   	font-size: 16px;
	}
	
	.page-content .metro-rapid-parts .metro-rapid-parts-bg {
   	padding: 12px 0;
   	width: 430px;
	}
	
	
	.page-content .content-block .info {
	    width: 100%;
	}
	.page-content .content-block .info-graphic {
	    width: 100%;
	}
	
	
	
	.page-content .metro-rapid-fifth-part {
   	float: left;
	}
	.page-content .metro-rapid-parts .metro-rapid-parts-text {
		font-size: 18px;
	}
	.page-content .metro-rapid-parts .icon {
   	width: 50px;
	}
	.page-content .metro-rapid-parts .icon img {
   	width: 32px;
	}
	.page-content .metro-rapid-parts .metro-rapid-parts-bg {
    	padding: 11px 0;
   	width: 413px;
	}
	.page-content .metro-rapid-parts {
   	margin-bottom: 7px;
	}
	
	
	
	.page-content .map {
   	width: 486px;
	}
	.page-content .map img {
   	width: 486px;
	}
	.page-content .map-data {
   	margin: 0;
	}
	.page-content .map-heading.map-heading-center {
   	padding-top: 9px;
	}
	.page-content .map-heading {
   	width: 406px;
	}
	
	
	
	.content-body .brick-blue-link {
   	width: 100%;
   	margin:0 0 10px 0
	}
	.page-content .brick-blue-link .brick-blue-link-text {
		width: 407px;
		padding: 10px 0 0 0;
	}
	.page-content .brick-blue-link .brick-blue-link-text1 {
   	font-size: 16px;
	}
	
	.cta .callout, .corp-trans-callout {
	    width: 100% !important;
	}
	
	.map-locations .marker-details {
	    width: 100%;
	}
	.select-locations .location-type {
	    width: 100%;
	}
	.select-locations .location-select {
	    width: 100%;
	}
	
	.three-up img {
	    margin-right: 0%;
	    width: 100%;
	}
	
	.cta-buttons {
	    width: 100%;
	}
	
	.header h1 {
	    display: block;
	    font-size: 20px;
	    width:260px;
	}
	.three-up .col-33 {
	    width: 100%;
	}
	
	.maps-scheduels .download-pdf span {
	    top: 2px;
	}
	.maps-scheduels .schedule-nav a {
	    margin: 0 0 5px;
	}
	
	.planner .cta-buttons {
	    width: 100%;
	}
	.alerts-detours .rider-alert {
	    height: auto;
	}
	.alerts-detours .detour-detail {
	    width: 79%;
	}
	
	.pdf-downlaod {
	    width: 100%;
	}
	
	
	.pdf-downlaod-2columns {
	    margin: 0;
	    width: 100% !important;
	}
	.pdf-downlaod-2columns .pdf-ico {
	    width: 19.5%;
	}
	.pdf-downlaod .download-title {
	    margin-top: 6%;
	}
	.pdf-downlaod-2columns .download-title {
	    padding-left: 13%;
	}
	
	
	/* OVERRIDES of CSS for tix row */
	.tix-box{width:100%;}
	.tix-box .tix-row .tix-type {
	    width: 65%;
	    border-right: 1px solid #666;
	}
	.tix-box .tix-row .tix-fare {
	    border-left: 0px solid #666;
	    float: right;
	    padding-right: 16%;
	    text-align: right;
	    width: 35%;
	}
	.tix-box .tix-row .tix-fare img {
		margin-right: 4%;
	}
	.page-content .help-you {
		margin-left: 0;
	}
	.page-content .help-you select {
		margin-left: 0;
		width: 100%;
		margin-bottom:10px;
	}
	.gototop {
		bottom: -40px;
		right: 0;
	}
	
}




@media only screen and (max-width: 360px) {
	.container{
		font-size:14px;
		width:100%;
	}
	.header .headline {
	    bottom: 10%;
	    left: 6%;
	    position: absolute;
	    width: 190px;
	}
	.header h1 {
	    display: block;
	    font-size: 25px;
	}
	
	.page-nav .nav-btn span {
	    padding: 5px 0;
	    font-size:12px;
	}
	
	.page-content .content-block .info {
	   width: 100%;
	}
	
	.page-content .content-block .info-graphic {
   	width: 100%;
   	margin:0 0 15px 0;
	}
	
	
	.mid-section .mid-copy {
   	margin: 0 auto;
	}
	
	
	.page-content .schedule-language .schedule-and-language-text {
		padding: 5px 0 0;
	   width: 232px;
	}
	.page-content .schedule-language .schedule-text {
	    font-size: 10px;
	}
	.page-content .schedule-language .language-text {
	    color: #ffffff;
	    font-size: 13px;
	    text-align: center;
	}
	.page-content .schedule-language .icon {
	    padding: 4px 3px 0;
	    width: 35px;
	}
	
	
	.page-content .metro-rapid-parts .metro-rapid-parts-bg {
	   padding: 9px 0;
	   width: 216px;
	}
	.page-content .metro-rapid-parts {
   	margin-right: 0;
	}
	
	
	
	
	.page-content .map-heading.map-heading-center {
   	padding-top: 0;
   	width: 268px;
	}
	.page-content .map {
		width: 268px;
	}
	.page-content .map img {
		width: 268px;
	}
	.map-data-last{
		float:left;
	}
	
	
	
	
	.page-content .brick-blue-link .brick-blue-link-text {
		padding: 5px 0 0;
	   width: 232px;
	}
	.page-content .brick-blue-link .brick-blue-link-text1 {
	    font-size: 10px;
	}
	.page-content .brick-blue-link .brick-blue-link-text2 {
	    color: #ffffff;
	    font-size: 13px;
	    text-align: center;
	}
	.page-content .brick-blue-link .icon {
	    padding: 4px 3px 0;
	    width: 35px;
	}
	
	.purchase-tix .tix-ico {
	    padding: 8px 1px 0;
	}
	.purchase-tix span {
	    font-size: 12px;
	    margin: 0 5px;
	    padding-top: 12px;
	}
	.cta .callout {
	    height: auto;
	}
	.map-locations .marker-details {
	    width: 100%;
	}
	.select-locations .location-type {
	    width: 100%;
	}
	.select-locations .location-select {
	    width: 100%;
	}
	
	.three-up img {
	    margin-right: 0%;
	    width: 100%;
	}
	.cta-buttons {
	    width: 100%;
	}
	
	
	.header h1 {
	    display: block;
	    font-size: 20px;
	}
	
	.three-up .col-33 {
	    width: 100%;
	}
	
	.maps-scheduels .download-pdf span {
	    top: 6px;
	}
	.maps-scheduels .schedule-nav a {
	    margin: 0 0 5px;
	}
	
	.planner .cta-buttons {
	    width: 100%;
	}
	.alerts-detours .rider-alert {
	    height: auto;
	}
	.alerts-detours .detour-detail {
	    width: 79%;
	}
	
	
	.holiday-block .holiday-date .holiday {
	    margin-top: 95%;
	}
	.holiday-block .holiday-detail {
	    width: 75%;
	}
	.holiday-block {
	    height: 165px;
	}
	
	.pdf-downlaod {
	    width: 100%;
	}
	
	
	.pdf-downlaod-2columns {
	    margin: 0;
	    width: 100% !important;
	}
	.pdf-downlaod-2columns .pdf-ico {
	    width: 19.5%;
	}
	.pdf-downlaod .download-title {
	    padding-left: 8%;
	}
	.pdf-downlaod .download-title {
	    margin-top: 9%;
	}
	.pdf-downlaod-2columns .download-title {
	    margin-top: 9% !important;
	}
	
	
	
	/* OVERRIDES of CSS for tix row */
	.tix-box{width:100%;}
	.tix-box .tix-row .tix-type {
	    width: 65%;
	    border-right: 1px solid #666;
	}
	.tix-box .tix-row .tix-fare {
	    border-left: 0px solid #666;
	    float: right;
	    padding-right: 16%;
	    text-align: right;
	    width: 35%;
	}
	.tix-box .tix-row .tix-fare img {
		margin-right: 4%;
	}
	.page-content .help-you {
		margin-left: 0;
	}
	.page-content .help-you select {
		margin-left: 0;
		width: 100%;
		margin-bottom:10px;
	}
	.gototop {
		bottom: -40px;
		right: 0;
	}
	
	
	
}



/*JUSTIN OVERRIDES*/
.page-content .brick-blue-link .brick-blue-link-text {
  background-color: #0f406b;
  width: 428px;
  padding: 8px 0;
  text-align: center;
  float: left;
  width: 76%;
}


