@charset "UTF-8";
/**
 * Code by vijay
 * ==========================================================================
 */
 
 

/**
 * $METRORAPID SERVICES
 * ==========================================================================
 */




/* fullColumnWidth - for width 100% */
.page-content .fullColumnWidth{
 	width:100%;
}

/* how it works lists - styles */
.page-content .how-it-works ul {
  display: inline-block;
  width: auto;
  margin-left: 0;
}
.page-content .how-it-works ul li {
  background: url('../img/list-icon.png') no-repeat 0 7px;
  padding: 3px 0 3px 19px;
  /* reset styles (optional): */
  list-style: none;
  margin: 0;
}



/* schedule points lists - styles */
.page-content .schedule-points ul {
  display: inline-block;
  width: auto;
  margin-left: 0;
}
.page-content .schedule-points ul li {
  background: url('../img/list-icon.png') no-repeat 0 7px;
  padding: 3px 0 3px 19px;
  /* reset styles (optional): */
  list-style: none;
  margin: 0;
}



/* north-south-points lists - styles */
.page-content .north-south-points ul {
	margin-right: 5%;
	width: 44%;
}
.page-content .north-south-points ul {
  display: inline-block;
  width: auto;
  margin-left: 0;
}
.page-content .north-south-points ul li {
  background: url('../img/list-icon.png') no-repeat 0 7px;
  padding: 3px 0 3px 19px;
  /* reset styles (optional): */
  list-style: none;
  margin: 0;
  color:#4ca1d2;
  font-weight:bold;
}



/* schedule-language lists - styles */
.page-content .schedule-language{
	background-color:#0f406b;
	padding:0;
	border:1px solid #0f406b;
	margin-right:0;
}
.page-content .schedule-language .icon{
	background-color:#FFFFFF;
	width:70px;
	padding:9px 0 1px 0;
	text-align:center;
	float:left;
}
.page-content .schedule-language .schedule-and-language-text{
	background-color:#0f406b;
	width:428px;
	padding:10px 0;
	text-align:center;
	float:left;
}
.page-content .schedule-language .schedule-text{
	color:#FFFFFF;
	font-size:14px;
	text-align:center;
}
.page-content .schedule-language .language-text{
	color:#FFFFFF;
	font-size:20px;
	text-align:center;
}
.half-column.schedule-language.schedule-language-last {
    margin-right: 0;
}



/* metro-rapid-parts - styles */
.page-content .metro-rapid-parts{
	background-color:#0f406b;
	padding:0;
	border:1px solid #0f406b;
	margin-right:15px;
	margin-bottom:20px;
}
.page-content .metro-rapid-parts .icon{
	background-color:#FFFFFF;
	width:40px;
	padding:5px 0 0px 0;
	text-align:center;
	float:left;
}
.page-content .metro-rapid-parts .metro-rapid-parts-bg{
	background-color:#0f406b;
	width:174px;
	padding:10px 0;
	text-align:center;
	float:left;
}
.page-content .metro-rapid-parts .metro-rapid-parts-text{
	color:#FFFFFF;
	font-size:17px;
	text-align:center;
	padding:2px 0 0 0;
}
.page-content .metro-rapid-fifth-part{
	margin-right:0;
	float:right;
}


/* maps related styles */
.page-content .map-data{
	margin:0 15px 0 0;
	width: 32%;
	float: left;
}

.page-content .map-data img{
		width: 100%;
	}
.page-content .map-heading{
	background: url('../img/metrorapid-service/schedule-img.png') no-repeat 0 0;
	background-size: 30px 38px;
	height:38px;
	padding:7px 0 0 35px;
	margin:0 0 10px 0;
	color:#4ca1d2;
	font-weight:bold;
	font-size: 15px;
}
.page-content .map{
	width: 100%;
	margin:0 0 20px 0;
}
.page-content .map-data-last{
	margin:0 0 0 0;
}



/*  van service page styles - Start */
		.header .headline-services-van{
			width:250px;
		}
		
		
		.page-content .half-column.fares-data{
			float:right;
			margin-right:0;
		}
		.page-content .fares-points ul {
		  display: inline-block;
		  width: auto;
		  margin-left: 0;
		}
		.page-content .fares-points ul li {
		  padding: 10px 0 10px 0px;
		  list-style: none;
		  margin: 0 25px;
		  border-bottom:1px solid #4AACD9;
		  color:#003567;
		}
		.page-content .fares-points ul li:last-child {
		  border-bottom:0px solid #4AACD9;
		}
		
		
		.page-content .reservation-no{
			color:#4AACD9;
		}
		.page-content .reservation-timings-days{
			float:left;
			text-align:left;
			margin:10px 0;
		}
		.page-content .reservation-timings-days ul{
			list-style:none;
			margin:0;
		}
		.page-content .reservation-timings-time{
			float:right;
			text-align:right;
			margin:10px 0;
		}
		.page-content .reservation-timings-time ul{
			list-style:none;
			margin:0;
		}
		
		.mid-section .mid-copy.van-service-midcopy-1 h3{
			padding: 10px 25px;
		}
		
		
		/* equal-access-points lists - styles */
		.page-content .half-column.equal-access-data{
			float:right;
			margin:42px 0 0 0;
		}
		.page-content .equal-access-points ul {
			margin-right: 0;
			width: 44%;
			display: inline-block;
		   width: auto;
		   margin-left: 0;
		}
		.page-content .equal-access-points ul li {
		  background: url('../img/list-icon.png') no-repeat 0 7px;
		  padding: 3px 0 3px 19px;
		  /* reset styles (optional): */
		  list-style: none;
		  margin: 0;
		}
		
		
		
		/* how-do-i-apply-points lists - styles */
		.page-content .half-column.how-do-i-apply-data2{
			float:right;
			margin:48px 0 0 0;
		}
		.page-content .how-do-i-apply-points ol {
			margin-right: 0;
			width: 44%;
			display: inline-block;
		  width: auto;
		  margin-left: 35px;
		  margin-bottom:0;
		}
		.page-content .how-do-i-apply-points ol li {
		  padding: 3px 0 3px 5px;
		  /* reset styles (optional): */
		  margin: 0;
		}
		.page-content .half-column.how-do-i-apply-data2 p{
			color:#003567;
			line-height: 20px;
		}
		
		
		
		
		
		
		
		/* brick time and fare styles */
		.content-body .time-and-fare {
		  background-color: transparent;
		  width:70%;
		}
		.content-body .time-and-fare .brick-head {
		  background-color: #e6e7e8;
		  text-align: left;
		  color: #003366;
		  padding-left: 20px;
		  padding-top:10px;
		  position:relative;
		}
		.content-body .time-and-fare .brick-head .coupon-image{
			position:absolute;
			right:5px;
			top:5px;
			padding:0;
			margin:0;
		}
		.content-body .time-and-fare .brick-head .brick-line{
			position:absolute;
			right:135px;
			top:0;
			border-right:1px solid #777777;
			height:45px;
			padding:0;
			margin:0;
		}
		.content-body .time-and-fare .brick-head span {
		  float: right;
		  margin-right: 20px;
		  padding-right: 25px;
		}
		.content-body .time-and-fare .serv-hours {
		  margin: 0;
		  padding: 15px;
		  padding-top: 0;
		  width: auto;
		}
		.content-body .time-and-fare:nth-child(2n) .brick-head {
		  background-color: #71A6CF;
		  text-align: left;
		  color: #FFFFFF;
		  padding-left: 20px;
		  padding-top:10px;
		}
		
		
		.content-body .brick .half-column ul{
			margin: 0 0 0 15px;
			padding:0 0 10px 0;
		}
		.content-body .brick .half-column ul li{
			background: url('../img/list-icon.png') no-repeat 0 7px;
			padding: 3px 0 3px 19px;
			list-style: none;
			margin: 0;
			line-height: 18px;
		}
		
		
		.page-content .half-column.side2{
			float:right;
			margin:0 0 0 0;
		}
		
		
/*  van service page styles - End */



/*  teco line service page styles - Start */
		.header .headline-services-teco-line{
			width:670px;
		}
		
		.page-content .visit-link{
			background-color: #0E3B6A;
			padding:5px 0;
			color:#FFFFFF;
			text-align: center;
		}
/*  teco line service page styles - End */



.page-content a.link-colored{
	color:#4AACD9;
}
.content-body .half-column {
    margin-right: 3%;
    width: 46%;
}
.north-south-points.half-column {
    margin-right: 0%;
    width: 47%;
}
.page-content .bottom-rule .cta {
	width: 100%;
}
.page-content .bottom-rule {
	padding-top: 10px;
}
.page-nav{
	margin:20px 0;
}
.mid-section .mid-copy {
    width: 75%;
}
.content-body .info-italic{
	font-size:13px;
}
.content-body .space-top-bottom{
	margin:10px 0;
}
.content-body .brick .brick-head-para {
  color:#003567;
  margin-bottom:5px;
  padding-bottom:0;
}
/* brick-blue-link - for icon with link - styles */
	.page-content .brick-blue-link{
		background-color:#0f406b;
		padding:0;
		border:1px solid #0f406b;
		margin-right:0;
		margin-bottom:15px;
	}
	.page-content .brick-blue-link .icon{
		background-color:#FFFFFF;
		width:70px;
		padding:9px 0 1px 0;
		text-align:center;
		float:left;
	}
	.page-content .brick-blue-link .brick-blue-link-text{
		background-color:#0f406b;
		width:428px;
		padding:8px 0;
		text-align:center;
		float:left;
	}
	.page-content .brick-blue-link .brick-blue-link-text1{
		color:#FFFFFF;
		font-size:14px;
		text-align:center;
	}
	.page-content .brick-blue-link .brick-blue-link-text2{
		color:#FFFFFF;
		font-size:24px;
		text-align:center;
	}
	.half-column.brick-blue-link.brick-blue-link-last {
	    margin-right: 0;
	}
	.content-body .brick .brick-head {
		padding-top: 12px;
	}
.left{
	float:left;
}
.right{
	float:right;
}





/*  media queries  */
@media only screen and (max-width: 1024px) {
  .container {
		width: 100%;
  }
  .page-content .schedule-language .schedule-and-language-text {
		width: 333px;
	}
	.page-content .metro-rapid-parts .metro-rapid-parts-bg {
		width: 119px;
	}
	.page-content .map-heading{
		width: 278px;
	}
	.page-content .map-heading.map-heading-center{
		padding-top:0;
	}
	.page-content .map {
    	width: 278px;
	}
	
	
	.page-nav {
   	margin: 20px -13px;
	}
	.page-nav .nav-btn {
   	width: 30%;
	}
	
	
	.page-content .schedule-language .brick-blue-link-text {
		width: 333px;
	}

}



@media only screen and (max-width: 768px) {
  .content-body .half-column {
    margin-right: 0%;
    width: 100%;
	}
	
	.content-body .schedule-language {
   	width: 44%;
	}
	.page-content .schedule-language .schedule-and-language-text {
		width: 210px;
		padding: 0;
	}
	.page-content .schedule-language .schedule-text {
   	font-size: 14px;
	}
	
	
	
	
	.page-content .metro-rapid-parts .metro-rapid-parts-text {
   	font-size: 12px;
	}
	.page-content .metro-rapid-parts .metro-rapid-parts-bg {
   	width: 83px;
   	padding: 6px 0;
	}
	.page-content .metro-rapid-parts .icon {
   	width: 32px;
	}
	.page-content .metro-rapid-parts .icon img {
   	width: 18px;
	}
	
	
	.page-content .map {
   	width: 206px;
	}
	.page-content .map-heading {
   	width: 206px;
	}
	
	
	
	.content-body .brick-blue-link {
   	width: 44%;
	}
	.page-content .brick-blue-link .brick-blue-link-text {
		width: 210px;
		padding: 0;
	}
	.page-content .brick-blue-link .brick-blue-link-text1 {
   	font-size: 14px;
	}
}



@media only screen and (max-width: 568px) {
	.content-body .schedule-language {
   	width: 100%;
   	margin:0 0 10px 0
	}
	.page-content .schedule-language .schedule-and-language-text {
		width: 407px;
		padding: 10px 0 0 0;
	}
	.page-content .schedule-language .schedule-text {
   	font-size: 16px;
	}
	
	.page-content .metro-rapid-parts .metro-rapid-parts-bg {
   	padding: 12px 0;
   	width: 430px;
	}
	
	
	
	.page-content .metro-rapid-fifth-part {
   	float: left;
	}
	.page-content .metro-rapid-parts .metro-rapid-parts-text {
		font-size: 18px;
	}
	.page-content .metro-rapid-parts .icon {
   	width: 50px;
	}
	.page-content .metro-rapid-parts .icon img {
   	width: 32px;
	}
	.page-content .metro-rapid-parts .metro-rapid-parts-bg {
    	padding: 11px 0;
   	width: 413px;
	}
	.page-content .metro-rapid-parts {
   	margin-bottom: 7px;
	}
	
	
	
	.page-content .map {
   	width: 486px;
	}
	.page-content .map img {
   	width: 486px;
	}
	.page-content .map-data {
   	margin: 0;
	}
	.page-content .map-heading.map-heading-center {
   	padding-top: 9px;
	}
	.page-content .map-heading {
   	width: 406px;
	}
	
	
	
	.content-body .brick-blue-link {
   	width: 100%;
   	margin:0 0 10px 0
	}
	.page-content .brick-blue-link .brick-blue-link-text {
		width: 407px;
		padding: 10px 0 0 0;
	}
	.page-content .brick-blue-link .brick-blue-link-text1 {
   	font-size: 16px;
	}
	
}




@media only screen and (max-width: 320px) {
	.container{
		font-size:14px;
		width:100%;
	}
	.header .headline {
	    bottom: 10%;
	    left: 6%;
	    position: absolute;
	    width: 190px;
	}
	.header h1 {
	    display: block;
	    font-size: 25px;
	}
	
	.page-nav .nav-btn span {
	    padding: 5px 0;
	    font-size:12px;
	}
	
	.page-content .content-block .info {
	   width: 100%;
	}
	
	.page-content .content-block .info-graphic {
   	width: 100%;
   	margin:0 0 15px 0;
	}
	
	
	.mid-section .mid-copy {
   	margin: 0 auto;
	}
	
	
	.page-content .schedule-language .schedule-and-language-text {
		padding: 5px 0 0;
	   width: 232px;
	}
	.page-content .schedule-language .schedule-text {
	    font-size: 10px;
	}
	.page-content .schedule-language .language-text {
	    color: #ffffff;
	    font-size: 13px;
	    text-align: center;
	}
	.page-content .schedule-language .icon {
	    padding: 4px 3px 0;
	    width: 35px;
	}
	
	
	.page-content .metro-rapid-parts .metro-rapid-parts-bg {
	   padding: 9px 0;
	   width: 216px;
	}
	.page-content .metro-rapid-parts {
   	margin-right: 0;
	}
	
	
	
	
	.page-content .map-heading.map-heading-center {
   	padding-top: 0;
   	width: 268px;
	}
	.page-content .map {
		width: 268px;
	}
	.page-content .map img {
		width: 268px;
	}
	.map-data-last{
		float:left;
	}
	
	
	
	
	.page-content .brick-blue-link .brick-blue-link-text {
		padding: 5px 0 0;
	   width: 232px;
	}
	.page-content .brick-blue-link .brick-blue-link-text1 {
	    font-size: 10px;
	}
	.page-content .brick-blue-link .brick-blue-link-text2 {
	    color: #ffffff;
	    font-size: 13px;
	    text-align: center;
	}
	.page-content .brick-blue-link .icon {
	    padding: 4px 3px 0;
	    width: 35px;
	}
}



/*JUSTIN OVERRIDES*/
.page-content .brick-blue-link .brick-blue-link-text {
  background-color: #0f406b;
  width: 428px;
  padding: 8px 0;
  text-align: center;
  float: left;
  width: 76%;
}
