/**
 * $ALERTS DETOURS
 * ==========================================================================
 */

.alerts-detours{
	.header {
		// background: url(../img/maps-sched/header-map.jpg) no-repeat;
		background-size: 100%;
		height: 300px;
	}

	.rider-alert{
		background-color: #993333;
		color: white;
		vertical-align:top;
		padding: 5px 15px;
		height: 38px;
		padding-top: 8px;
		display: inline-block;

		img{
			vertical-align: middle;
			position: relative;
			top: -3px;
		}

		img:last-child{
			margin-left: 10px;
		}

	}

	.alert-detail{
		font-style: italic;
		padding-top: 20px;
		padding-right: 30px;
	}

	.detour-row{
		marign-bottom: 20px;
	}

	.detour-thumb{
		display: inline-block;
		vertical-align: top;
		width: 12%;
		margin-right: 20px;
	}

	.detour-detail{
		display: inline-block;
		vertical-align: top;
		width: 84%;
		h2{
			margin-top: 0;
		}
	}

	.callout{
		width: 40%;
	}
}





.info p {
	padding-right: 30px;
}



.holiday-block{
	border: 1px #003366 solid;
	height: 100px;
	margin-bottom: 30px;
	.holiday-date{
		background: url(../img/diagonal-pattern.png) #003366 repeat;
		color: white;
		display: inline-block;
		width: 18%;
		height: 100%;
		vertical-align: top;
		text-align: center;

		.holiday{
			background-color: #003366;
			display: inline-block;
			margin-top: 20%;
			padding: 5px;
		}
	}
	.holiday-detail{
		width: 78%;
		margin-left: 10px;
		display: inline-block;
		vertical-align: top;
		line-height: 18px;
	}
}