/**
 * $LANDING
 * ==========================================================================
 * This is a placeholder and example for a view.
 */
 .container{
 	background: url('../img/plate-home-bg.jpg') no-repeat;
 	background-size: 100%;
 	padding: 0;
 }

 section{
 	width: 100%;

 	.headline{
 		position: absolute;
 		bottom: 26%;
 		left: 3%;
 		width: 60%;

 		h1{
 			margin: 1% 0;
 			background-color: rgba(14, 21, 45, 0.6); 			
 			padding: 1% 3%;
 			padding-bottom: 0;
 			color: white;
 			font-size: 60px;
 			display: inline-block;
 		}
 	}
 }

 .landing{
 	 background: url('../img/home-bg1.jpg') no-repeat;
 	 background-size: 100%;

 	.logo{
 	 	position: absolute;
 	 	left: 0px;
 	 	margin: 2% 1.5%;
		width: 17%;
		max-width: 270px;
 	 }

 	 .menu-ico{
 	 	position: absolute;
 	 	right: 15px;
		margin: 2.5%;
		width: 4%;
		max-width: 62px;
		cursor: pointer;
 	 }

 	 .bus-ico{
 	 	position: absolute;
 	 	right: 0px;
		bottom: 6%;
		margin: 5.5%;
		width: 11%;
		max-width: 179px;
		cursor: pointer;
 	 }

 	 .bottom-rule{
 	 	position: absolute;
 	 	width: 100%;
 	 	bottom: 12%;
 	 	padding: 0 5%;
 	 	color: white;
 	 	font-size: 19px;

 	 	div{
 	 		display: inline-block;
 	 	}

 	 	.cta{
 	 		width: 24%;
 	 	}

 	 	.rule{
 	 		width: 75%;
 	 		top: 16px;
 	 	}
 	 }

 	 hr{
 	 	background-color: white;
 	 	color: white;
 	 	border-color: white;
 	 }

 	 .home-form{
 	 	position: absolute;
		bottom: 6%;
		padding: 0 5%;
		width: 100%;

		input[type="text"] {
			border: none;
			text-transform: uppercase;
			color: #083b70;
			line-height: 45px;
			height: 45px;
			font-size: 16px;
			background-color: rgba(255, 255, 255, 0.75);
			padding: 5px;
			padding-left: 10px;
			padding-top: 10px;
			margin-right: 1%;
		}

		input[type="submit"] {
			-webkit-appearance: none;
			border: none;
			color: white;
   			background-color: #7aaed5;
   			height: 45px;
			font-size: 16px;
			padding: 5px 15px;
			padding-top: 10px;
			margin-right: 0;
			letter-spacing: 0.03em;
		}

// 		input.button, input.submit {
  
// }

		#start, #end{
			width: 27%;
		}
		#date, #time{
			width: 15%;
		}
 	 }
 }
