/**
 * $locations
 * ==========================================================================
 */
.page-nav{
	text-align: center;
	margin: 20px;
}

 .purchase-tix{
 	background-color: #036;
	display: inline-block;
	color: #fff;
	border: 1px #036 solid;
	padding: 0px;

	span{
		margin: 0 10px;
		display: inline-block;
		vertical-align: top;
		padding-top: 12px;
	}

	.tix-ico{
		display: inline-block;
		background-color: white;
		padding: 3px;
		padding-top: 8px;
		padding-bottom: 0;

		img{
			width: 32px;
		}
	}
 }

 .map-locations{
 	margin: 20px 0;

 	.marker-details{
 		width: 30%;
 		display: inline-block;
 	}

 	.marker-address{
 		color: #666;
 		font-size: 12px;
 		padding-left: 15px;
 	}

 	a{ color: #3399CC; }
 }




 .select-locations{
	.help-you{
		margin: 20px 0;
	}

 	.location-type{
 		display: inline-block;
 		width: 40%;
 	}
 	.location-select{
 		width: 55%;
 		display: inline-block;

 		select{
 			width: 300px;
 		}
 	}
 }