/**
 * $MAIN-NAV
 * ==========================================================================
 * This is a placeholder and example for a view.
 */

 .main-nav{
 	position: fixed; 
 	right: 0px;
 	z-index: 100;
 	text-align: right;
 	display: none;
 	background-color: rgba(14, 21, 45, 0.75);
 	// background-image: url(../img/fpo-mainnav.png);
 	background-size: auto 100%;
 	background-repeat: no-repeat;
 	background-position: top;
 	// width: 45%;
 	color: white;

 	.close-nav{
 		position: absolute;
 		margin-left: -75px;
		margin-top: 20px;
		width: 10%;
		cursor: pointer;
 	}

 	ul, li{
 		list-style-type: none;
 		margin: 0;
 	}
 	
	.primary{
		// background-color: #0e152d;	
		background-color: transparent;
		text-align: left;
		margin-top: 20px;
		margin-left: 20px;
		padding-right: 30px;
		display: inline-block;
		vertical-align: top;

		a{ color: white; }

		a:hover{ color: #7aaed5; }

		li{
			font-family: gothMed, Helvetica, Arial, sans-serif;
			font-size: 30px;
			margin-bottom: 5.5%;


			img{
				display: inline-block;
				width: 18px;
				top: 5px;
				display: none;
				left: 30px;
			}
		}	
	}

	.search-nav{
		font-size: 12px;
		letter-spacing: 0.1em;

		a{ margin: 0 15px; }

		a:first-child{
			margin-left:0;
		}

		a:last-child{
			margin-right:0;
		}
	}

	.search-bar{
		margin-top: 10px;
		

		input[type="text"] {
			border: none;
			text-transform: uppercase;
			color: #083b70;
			line-height: 45px;
			height: 45px;
			font-size: 16px;
			background-color: rgba(255, 255, 255, 1);
			padding: 5px;
			
			padding-left: 10px;
			padding-top: 10px;
			margin-right: 1%;
			width: 85%;
		}

		.search-btn{
			background-color: #6699CC;
			display: inline-block;
			width: 45px;
			height: 45px;
			text-align: center;
			padding-top: 10px;
			vertical-align: top;

			img{
				width: 62%;
			}
		}
	}

	.social-icons{
		.ico{
			display: inline-block;
			margin-right: 25px;
			margin-top: 20px;

			img{
				width: 75%;
			}
		}
	}

	.secondary{
		display: inline-block;
		background-color: rgba(14, 21, 45, 1);
		height: 100%;
		vertical-align: top;
		text-align: left;
		width: 0px;
		
		a{ color: white; }

		a:hover{ color: #7aaed5; }

		ul{
			margin-top: 30%;
			padding: 20px;
			display: none;
		}

		li{
			padding: 5px 0;
		}
	}

 }