/**
 * $TRANSIT SERVICES
 * ==========================================================================
 */

.services{
 .page-content{
 	// background-image: url('../img/service/service-plate-bg.jpg');
 	// background-repeat: none;
 	// background-size: 100%;
 }
}

.page-nav{
	margin-top: 35px;
		.nav-btn{
			display: inline-block;
			vertical-align: top;
			width: 31%;
			text-align: center;
			height: 50px;
			padding-top: 8px;
			margin-right: 3%;
			border: 2px gray solid;
			cursor: pointer;
			background: url('../img/service/page-nav-bg.png') repeat-x;

			span{
				background-color: white;
				display: inline-block;
				padding: 5px 10px;
			}
		}

		.nav-btn:last-child{
			margin-right: 0;
		}

		a:hover{
			color: #6699CC;
		}
}

.content-body{
	h2{
		margin: 5px 0;
		padding: 0;
		font-size: 20px;
		font-weight: normal;
		color: #003366;
		font-family: gothBook, Helvetica, Arial, sans-serif;
	}

	.half-column{
		display: inline-block;
		vertical-align: top;
		width: 46%;
		margin-right: 5%;
	}

	.half-column:last-child{
		margin-right: 0;
	}

	.brick{
		background-color: #e6e7e8;

		.brick-head{
			background-color: #7aaed5;
			height: 45px;
			text-align:center;
			padding-top: 15px;
			color: white;
		}

		p{
			padding: 15px;
		}
	}

	.fare{
		background-color: transparent;

		.brick-head{
			background-color: #e6e7e8;
			text-align: left;
			color: #003366; 
			padding-left: 20px;

			span{
				float: right;
				margin-right: 20px;
			}
		}

		.serv-hours{
			margin: 0;
			padding: 15px;
			padding-top: 0;
			width: auto;
		}
	}

	.center-cta {
		text-align: center;
		img{
			top: 35px;
			position: relative;
			z-index: 5;
		}
	}

	.footer-ad{
		margin-top: 40px;
	}

	.footer-rule{
		margin-top: 0;
		padding-top: 0;
	}
}

.mid-section{
		background-image: url(../img/service/service-mid-bg-fpo.jpg);
		background-size: 100%;
		min-height: 600px;
		padding-top: 9%;

		.mid-copy{
			background-color: rgba(255, 255, 255, 0.75);
			padding: 20px;
			width: 60%;
			margin: 100px auto;

			h3{
				font-weight: normal;
				color: #666;
				font-size: 28px;
				line-height: 36px;
				text-align: center;
			}
		}
	}