/**
 * $TRIP PLANNER
 * ==========================================================================
 */

 .planner{
 	h2{
 		font-size: 16px;
 	}

 	.home-form{

		input[type="text"] {
			border: none;
			text-transform: uppercase;
			color: #083b70;
			line-height: 45px;
			height: 45px;
			font-size: 16px;
			background-color: #e6e7e8;
			padding: 5px;
			padding-left: 10px;
			padding-top: 10px;
			margin-right: 1%;
		}

		input[type="submit"] {
			-webkit-appearance: none;
			border: none;
			color: white;
   			background-color: #7aaed5;
   			height: 45px;
			font-size: 16px;
			padding: 5px 15px;
			padding-top: 10px;
			margin-right: 0;
			letter-spacing: 0.03em;
		}

		#start, #end{
			width: 27%;
		}
		#date, #time{
			width: 14%;
		}
 	 }

 	 a{
 	 	color: #3399CC;
 	 	font-weight: bold;
 	 }

 	 .half-span{
 	 	display: inline-block;
 	 	vertical-align: top;

 	 	div{
 	 		margin: 5px 25px 5px 0px;
 	 	}
 	 }

 	 .cta-buttons{
 	 	display: inline-block;
 	 	width: 48%;
 	 	margin: 15px 0;
 	 	
 	 	img{ width: 100%; }	 	
 	 }

 	 .btn1{
 	 	margin-right: 20px;
 	 }
 }